.beging-start{
    background-color:white;
    display: flex;
    justify-content: space-around;
}
.model-b{
    text-align: center;
   background-image:url(Hero-bg.png) ;
   height: 500px;
}
.developer-title{
   font-weight: 600px;
   
}
.btn-s{
    background-color: rgb(157, 146, 146);
    forced-color-adjust: white;
}
/*web 2nd page start css*/
.web-title{
    font-size: 30px;
}
.web-header{
    text-align: center;
    margin-top: 100px;
    
}
.advetisement{
    display: flex;
    text-align: center;
    width: 1100px;
    background-color: white;
    margin-left: 20px;
}
.option{
    font-size:20px ;
}
.h-web{
    margin: 80px;
}
.rus{
    margin: auto;
}
.niii{
background-color:#fffbfb;
margin: 40px;
}
.main-head{
    font-weight: 900PX;
    text-align: center;
    font-size: larger;
}
.Inspiration-d{
    text-align: center;
}
.header-i{
    padding: 200px;
}
.HTmL{
    background-color: bisque;
    width: 300PX;
    padding: 10PX;
    margin: 8px;
}
.css{
    background-color: aquamarine;
    width: 300PX;
    padding: 10PX;
    margin: 8px;
}
.js{
    background-color: beige;
    width: 300PX;
    padding: 10PX;
    margin: 8px;
}
.all-box{
    display: flex;
   
}
.more-t{
   font-size: 8px;
   width: 8opx;
}
.all-rjs{
    border-color:solid color black;
   background-color:white;
   width: 900px;
   margin: 50px;
  justify-content: space-around;
  margin-left: 250px;
}
.Web-t{
    display: flex;
}
.box-all{
    display: flex;
    margin: 40px;
    border: solid color black;
}
.Support{
   background-image: url(handshake.jpg);
    height: 400px;
    width: 1000px;
    margin-left: 300px;
    background-size:cover;
    background-repeat: no-repeat;
    margin: auto;
}
.Suggest-but{
    text-align: center;
}
.need-s{
    text-align: center;
    font-size: 40px;
}
.need-description{
    text-align: center;
    font-size: 18px;
}
.close-p{
   display: flex;
   justify-content:space-between;
   background-color:azure ;
  margin-top: 100px;
 height: 100px;
}
.vdo-s{
  height: 350px;
  margin-left: 350px;
}
.video{
    margin: auto;
    
}